/* Global Settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  overflow: hidden;
}

/* Main Container */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, rgb(174, 68, 215), rgb(114, 29, 187));
}

/* To-Do Container */

.todo-app {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  background: #fff;
  max-width: 500px;
  padding: 30px 20px;
}

.todo-app h1 {
  font-size: 2rem;
  margin: 0px 0px 20px 10px;
}

/* To-Do Form */

.todo-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 50px;
}

.todo-form,
#task-input {
  background: #e4e4e4;
}

#task-input,
#submit-button,
.todo-library button {
  border: none;
  outline: none;
}

#task-input,
#submit-button {
  height: 3.5rem;
}

#task-input {
  font-size: 1.8rem;
  padding: 10px 20px;
  flex: 3;
  border-radius: 50px 0 0 50px;
}

#submit-button {
  flex: 1;
  border-radius: 50px;
  background: rgb(255, 48, 48);
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
}

button:hover {
  cursor: pointer;
}

/* To-Do Library */

.todo-library div {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0px 0 15px 10px;
}

.todo-library p {
  flex: 2;
  font-size: 1.2rem;
}

.todo-library button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: none;
  font-weight: 700;
}
